* {
    box-sizing: border-box;
  }

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.nav {
    position: fixed;
    display: block;
    overflow: hidden;
    flex-direction: row;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    margin: 0px;
    padding-left: 10px;
}


.nav li{
    display: inline;
    margin: 0 20px 0 0;
    text-decoration: underline;
    text-align: center;
}

.nav-right {
    width: 33%;
    float: right;
    margin: 0px;
    padding: 0px;
}

.nav-left {
    float: left;
}

.nav-left img{
    height: 50px;
}